//@import "reset.scss";
@import "~antd/dist/antd.css";

.site-page-header {
  background-color: white;

  border: 1px solid rgb(235, 237, 240);
}
.ant-layout-header {
  background-color: white;
}

.ant-layout-content {
  padding: 1.5em;
  min-height: 100vh;
}

.ant-avatar {
  margin-right: 1em;
}

.ant-divider {
  margin: 0.2em;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-n-vol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 10em;
  padding-left: 1em;

  .price,
  .volume {
    display: flex;
    flex-direction: column;
  }
}

.priceChange {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
}

.sorting-selection {
  .ant-cascader-picker {
    max-width: 35vw;
  }
}

.ant-list-item-action {
  display: flex;
  justify-content: center;
}

.currency-selector {
  .ant-cascader-picker {
    width: 6em;
  }
  label {
    margin-right: 1em;
  }
  float: right;
}

.modal-content {
  text-align: center;

  //text-align: center;
  min-height: 30vh;
  .modal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    p {
      margin: 0.7em;
    }
    .description {
      text-align: left;
    }
  }
}
* {
  transition-duration: 0s !important;
}
